.card {
  border: 2px solid transparent;
  animation: hoverGrowReverse 0.3s ease-out forwards;
}

@keyframes hoverGrow {
  0% {
    transform: scale(1);
    border-color: transparent;
  }
  100% {
    transform: scale(1.03);
    border-color: #007bff;
  }
}

@keyframes hoverGrowReverse {
  0% {
    transform: scale(1.03);
    border-color: #007bff;
  }
  100% {
    transform: scale(1);
    border-color: transparent;
  }
}

.card:hover {
  animation: hoverGrow 0.4s ease-out forwards;

}

.card:not(:hover) {
  animation: hoverGrowReverse 0.4s ease-out forwards;
}

.sidebar,
.advertisements {
  position: sticky;
  top: 56px;
  height: calc(100vh - 56px);
  overflow-y: auto;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.navbar-sticky {
  position: sticky;
  top: 0;
  z-index: 1030;
}

.advertisements {
  border-left: 1px solid #ddd;
}

.hover-effect:hover {
  background-color: #e9ecef;
}

.advertisement:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.card-container {
  border-bottom: 2px solid #ddd;
  padding-bottom: 50px;
  margin-bottom: 20px;
}

.large-icon {
  font-size: 1.3rem;
}

.app-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #333;
  text-align: center;
}

.btn-signin:hover {
  color: blue !important;
  transition: color 0.3s ease;
}