.signup-error {
  animation: error_animation 0.3s ease-in-out forwards;
}

@keyframes error_animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.signup-success {
  animation: success_animation 0.3s ease-in-out forwards;
}

@keyframes success_animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
